body {
  height: 100%;
  width: 100%;
  background: #333B47;
  margin: 0 10 0 10;
  font-family: "Courier New"
}
h1 {
  text-align: center;
  background: #333B47;
  color: #ACC7F1;
}
h2 {
  text-align: center;
  background: #333B47;
  color: #ACC7F1;
}

.top {
  border-color: #ACC7F1;
  border-style: solid;
  border-width: 4px 4px 2px 4px;
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
}

main {
  border-color: #ACC7F1;
  border-style: solid;
  border-width: 2px 4px 2px 4px;
  padding: 20px;
}

.bottom {
  border-color: #ACC7F1;
  border-style: solid;
  border-width: 2px 4px 4px 4px;
  border-radius: 0 0 50px 50px;
  padding: 20px;
}

.flex {
  display: flex;
  width: 850px;
  height: 250px;
  margin: 0 auto;
  padding: 100px;
  background-color: #333B47;
  flex-direction: column;

}

.question {
  background: #333B47;
  color: #ACC7F1;
  height: 100px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 20px 0;
}
.answer {
  position: relative;
  top: 50%;
  left: 41%;
  color: #ACC7F1;
}
.questionbutton {
  position: relative;
  top: 50%;
  left: 44%;
  font-family: "Courier New";
  font-size: 18px;
  color: #ACC7F1;
  background-color: #333B47;
}
.submit {
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 45%;
  font-family: "Courier New";
  font-size: 18px;
  color: #ACC7F1;
  background-color: #333B47;
}

.text {
  font-weight: bold;
  text-align: center;
  color: #ACC7F1;
}

.perfect {
  font-family: "Comic Sans";
  font-weight: bold;
  font-color: #ACC7F1;
}


.text {
  float: left;
  padding-left: 30px;
  color: #ACC7F1;
  text-align: center;
}
