body {
  height: 100%;
  width: 100%;
  background: #333B47;
  margin: 0 10 0 10;
  font-family: "Courier New"
}
h1 {
  text-align: center;
  background: #333B47;
  color: #ACC7F1;
  /*since #ACC7F1 is your default 'color' for text, put this property in the selector
  for the body element (it will be inherited by all the elements beneath it in the
  Dom tree). Then if you need a specific element to have a different color, you only
  have to add that 'color' on that specific element (makes your code more DRY). Same goes
  for any other property that is going to be reused by many elements in your app*/
}
h2 {
  text-align: center;
  background: #333B47;
  color: #ACC7F1;
}

.top {
  border-color: #ACC7F1;
  border-style: solid;
  border-width: 4px 4px 2px 4px;
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
}

main {
  border-color: #ACC7F1;
  border-style: solid;
  border-width: 2px 4px 2px 4px;
  padding: 20px;
}

.bottom {
  border-color: #ACC7F1;
  border-style: solid;
  border-width: 2px 4px 4px 4px;
  border-radius: 0 0 50px 50px;
  padding: 20px;
}

.flex {
  display: flex;
  width: 850px;
  height: 250px;
  margin: 0 auto;
  padding: 100px;
  background-color: #333B47;
  flex-direction: column;
}
/*Good use of flexbox for formatting your layout*/
.question {
  background: #333B47;
  color: #ACC7F1;
  height: 100px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 20px 0;
}
.answer {
  position: relative;
  top: 50%;
  left: 41%;
  color: #ACC7F1;
}
.questionbutton {
  position: relative;
  top: 50%;
  left: 44%;
  font-family: "Courier New";
  font-size: 18px;
  color: #ACC7F1;
  background-color: #333B47;
}
/*For css classes that have two words in them, like '.questionbutton', best practice
is to use spine-case. Ex: '.question-button'*/

.submit {
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 45%;
  font-family: "Courier New";
  font-size: 18px;
  color: #ACC7F1;
  background-color: #333B47;
}

.text {
  font-weight: bold;
  text-align: center;
  color: #ACC7F1;
}

.perfect {
  font-family: "Comic Sans";
  font-weight: bold;
  font-color: #ACC7F1;
}


.text {
  float: left;
  padding-left: 30px;
  color: #ACC7F1;
  text-align: center;
}
